html {
  box-sizing: border-box;
  font-size: 10px;
}
::selection {
  background-color: blueviolet;
  color: antiquewhite;
}
body {
  margin: 0;
  font-family: "Average Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.banner {
  text-align: center;
  background-color: Lavender;
  padding: 80px;
}
header {
  padding: 1.8rem;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
#experience h2::before {
  content: "🧰";
  margin-right: 12px;
}
#skills h2::before {
  content: "🛠️";
  margin-right: 12px;
}
#contact h2::before {
  content: "✉️";
  margin-right: 12px;
}
*/

a {
  margin: 0;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 0.3rem blanchedalmond solid;
}
a:hover {
  color: blue;
}
a:active {
  color: red;
}
a + a {
  margin-left: 4.5rem;
}
#profile-text::first-letter {
  font-size: 200%;
}
main {
  padding: 0 11.8rem;
  max-width: 80rem;
  margin: 0 auto;
  max-width: 168ch;
}

/* #profile-text {
  font-size: 18px;
}
*/

article {
  margin: 1.5rem;
  padding: 3rem;
  border-bottom: 0.2rem grey solid;
}

#contact {
  border: none;
}

section + section {
  margin-top: 2.4rem;
}

p {
  padding-left: 1.6rem;
  font-size: 2rem;
}
li + li {
  margin-top: 1.8rem;
}
li {
  font-size: 2rem;
}
.experience-header {
  display: inline;
}
.experience-subheader {
  display: inline;
}

h2 {
  position: relative;
  left: -1.8rem;
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
}
#hire-me {
  font-size: 1.8rem;
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  padding: 1.2rem;
  background-color: black;
  color: rgb(211, 195, 164);
  border-radius: 6%;
}

.header-in-header {
  font-size: 6rem;
}

.header-in-header h1 {
  font-size: 1em;
  margin-block: 5rem;
}
.header-in-header p {
  font-size: 0.4em;
}

/* @media */

@media screen and (max-width: 729px) {
  html {
    font-size: 7px;
  }
  nav {
    justify-content: space-between;
  }
  a + a {
    margin-left: 0;
  }
  a {
    padding: 2rem;
  }
  .main-exp-header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .experience-subheader {
    padding-left: 0;
  }
}

@media screen and (min-width: 730px) {
  html {
    font-size: 8px;
  }
  main > * + * {
    margin-top: 9rem;
  }
  nav {
    display: block;
    margin-top: 2rem;
  }
  .main-exp-header {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .experience-subheader {
    padding-left: 0;
  }
}

@media screen and (min-width: 930px) {
  html {
    font-size: 9px;
  }
  .main-exp-header {
    display: inline;
  }
  .experience-subheader {
    padding-left: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 10px;
  }
  #hire-me {
    position: fixed;
  }
}
@media print {
  #hire-me {
    display: none;
  }
  nav {
    display: none;
  }
}
