html {
  box-sizing: border-box;
}
::selection {
  background-color: blueviolet;
  color: antiquewhite;
}
body {
  margin: 0;
  font-family: "Average Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}
.banner {
  text-align: center;
  background-color: Lavender;
  padding: 60px;
}
header {
  padding: 18px;
}
nav {
  margin-top: 48px;
}
#experience h2::before {
  content: "🧰";
  margin-right: 12px;
}
#skills h2::before {
  content: "🛠️";
  margin-right: 12px;
}
#contact h2::before {
  content: "✉️";
  margin-right: 12px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
}
a:active {
  color: red;
}
a {
  margin-left: 45px;
}
#profile-text::first-letter {
  font-size: 200%;
}
main {
  padding: 18px;

  max-width: 800px;
  margin: 0 auto;
}

/* #profile-text {
  font-size: 18px;
}
*/

article {
  margin: 60px;
  border-bottom: 2px grey solid;
}
#contact {
  border: none;
}

section + section {
  margin-top: 24px;
}

p {
  padding-left: 16px;
}
li + li {
  margin-top: 18px;
}

.experience-header {
  display: inline;
}
.experience-subheader {
  display: inline;
}
