* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Average Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

header,
ul,
.skills,
.contact {
  padding: 18px;
}
main {
  padding: 18px;

  max-width: 800px;
  margin: 0 auto;
}
.banner {
  text-align: center;
  background-color: Lavender;
  padding: 60px;
}
p {
  padding-left: 16px;
}
li {
  padding: 9px;
}
